node_modules/
.env
/videos/*.mp4
/musica/*.mp3
/output/*.mp4
.DS_Store
metadata.json
/output/*.*
musica/pista_30s.mp3
output/remotion-recipe.json
output/rough_cut.xml
/fotos/*.*
/videos_generados/*.mp4
.claude
.agents